In [1]:
import pandas as pd

In [71]:
from datetime import date


df = pd.read_csv('allfactors.csv',date_format='ISO8601', parse_dates=True)
df['date'] = pd.DatetimeIndex(df['date'])

In [72]:
df = df.set_index('date')

In [73]:
df

,mkt,smb,hml,rmw,cma,E,S,G,Total
date,,,,,,,,,
2014-01-02,0.005480,-0.018911,-0.016078,-0.008829,-0.000661,-0.000002,-0.000035,0.000104,-0.000059
2014-01-03,0.026072,-0.004521,-0.005980,0.007696,-0.006445,0.000181,0.000302,0.000010,0.000173
2014-01-06,-0.003476,-0.003543,0.011427,0.003944,0.003194,-0.000052,0.000009,0.000098,-0.000024
2014-01-07,0.000352,-0.001913,0.000962,-0.006109,0.003429,0.000083,-0.000004,-0.000014,-0.000005
2014-01-08,-0.002131,-0.003318,0.002747,0.002833,0.000507,-0.000026,-0.000014,0.000042,-0.000006
...,...,...,...,...,...,...,...,...,...
2023-09-21,-0.010283,0.002956,0.006223,0.001816,0.002366,0.000015,-0.000033,-0.000058,-0.000011
2023-09-22,-0.009168,-0.007270,0.005868,0.000215,0.005475,0.000020,0.000009,-0.000026,0.000018
2023-09-25,0.001925,-0.000495,0.002039,0.002355,0.001367,-0.000033,0.000002,0.000014,-0.000011
2023-09-26,-0.010004,0.000661,-0.001131,0.007526,0.001278,-0.000076,-0.000089,-0.000067,-0.000069
2023-09-27,-0.007460,0.010634,0.016079,-0.023451,0.029018,-0.000092,-0.000034,-0.000073,-0.000063

In [75]:
import yfinance as yf

# Define the ticker symbol
ticker_symbol = '^SET.BK'  # Example: Apple Inc.

# Define the start date and end date
start_date = '2014-01-01'
end_date = '2023-09-27'

# Fetch the data
stock_data = yf.download(ticker_symbol, start=start_date, end=end_date)

print(stock_data)

[*********************100%%**********************]  1 of 1 completed

                   Open         High          Low        Close    Adj Close  \
Date
2014-01-02  1291.930054  1292.770020  1230.770020  1230.770020  1230.770020
2014-01-03  1215.859985  1234.520020  1208.599976  1224.619995  1224.619995
2014-01-06  1222.689941  1231.619995  1205.439941  1230.839966  1230.839966
2014-01-07  1236.410034  1262.439941  1235.510010  1262.359985  1262.359985
2014-01-08  1261.689941  1273.619995  1253.599976  1257.729980  1257.729980
...                 ...          ...          ...          ...          ...
2023-09-20  1521.660034  1521.660034  1503.329956  1507.900024  1507.900024
2023-09-21  1504.550049  1517.369995  1503.229980  1514.260010  1514.260010
2023-09-22  1514.069946  1527.140015  1509.660034  1522.589966  1522.589966
2023-09-25  1524.390015  1524.969971  1507.359985  1507.359985  1507.359985
2023-09-26  1504.689941  1514.900024  1494.020020  1494.020020  1494.020020

             Volume
Date
2014-01-02  6318100
2014-01-03  5265600
2014-01-06  4860300
2014-01-07  5068200
2014-01-08  4690300
...             ...
2023-09-20  4292900
2023-09-21  3286000
2023-09-22  3901500
2023-09-25  3114900
2023-09-26  4128200

[2365 rows x 6 columns]

In [76]:
df['stock'] = stock_data['Close']

In [89]:
import numpy as np
df['stock_ret'] = df['stock'].pct_change()

C:\Users\Eakka\AppData\Local\Temp\ipykernel_10652\3537618636.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['stock_ret'] = df['stock'].pct_change()

In [90]:
df = df.dropna()

In [91]:
df

,mkt,smb,hml,rmw,cma,E,S,G,Total,stock,stock_ret
date,,,,,,,,,,,
2014-01-03,0.026072,-0.004521,-0.005980,0.007696,-0.006445,0.000181,0.000302,0.000010,0.000173,1224.619995,-0.004997
2014-01-06,-0.003476,-0.003543,0.011427,0.003944,0.003194,-0.000052,0.000009,0.000098,-0.000024,1230.839966,0.005079
2014-01-07,0.000352,-0.001913,0.000962,-0.006109,0.003429,0.000083,-0.000004,-0.000014,-0.000005,1262.359985,0.025609
2014-01-08,-0.002131,-0.003318,0.002747,0.002833,0.000507,-0.000026,-0.000014,0.000042,-0.000006,1257.729980,-0.003668
2014-01-09,0.023221,-0.011672,-0.005189,-0.002156,-0.003309,0.000068,0.000196,0.000072,0.000071,1258.260010,0.000421
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-19,0.004336,-0.001224,-0.002160,-0.002684,0.000672,0.000027,0.000001,-0.000037,0.000016,1522.959961,-0.003018
2023-09-20,0.005623,-0.006408,-0.004449,0.001884,-0.002169,0.000033,0.000072,0.000079,0.000056,1507.900024,-0.009889
2023-09-21,-0.010283,0.002956,0.006223,0.001816,0.002366,0.000015,-0.000033,-0.000058,-0.000011,1514.260010,0.004218
2023-09-22,-0.009168,-0.007270,0.005868,0.000215,0.005475,0.000020,0.000009,-0.000026,0.000018,1522.589966,0.005501
2023-09-25,0.001925,-0.000495,0.002039,0.002355,0.001367,-0.000033,0.000002,0.000014,-0.000011,1507.359985,-0.010003

In [80]:
import statsmodels.api as sm
import statsmodels.formula.api as smf

In [92]:
model = smf.ols('stock_ret ~ mkt', data=df).fit()

In [93]:
print(model.summary())

                            OLS Regression Results
==============================================================================
Dep. Variable:              stock_ret   R-squared:                       0.002
Model:                            OLS   Adj. R-squared:                  0.002
Method:                 Least Squares   F-statistic:                     4.894
Date:                Fri, 16 Feb 2024   Prob (F-statistic):             0.0270
Time:                        13:11:23   Log-Likelihood:                 7731.0
No. Observations:                2360   AIC:                        -1.546e+04
Df Residuals:                    2358   BIC:                        -1.545e+04
Df Model:                           1
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
Intercept      0.0001      0.000      0.623      0.533      -0.000       0.000
mkt            0.0446      0.020      2.212      0.027       0.005       0.084
==============================================================================
Omnibus:                     1007.076   Durbin-Watson:                   2.051
Prob(Omnibus):                  0.000   Jarque-Bera (JB):            44404.325
Skew:                          -1.284   Prob(JB):                         0.00
Kurtosis:                      24.094   Cond. No.                         107.
==============================================================================

Notes:
[1] Standard Errors assume that the covariance matrix of the errors is correctly specified.

In [86]:
df

,mkt,smb,hml,rmw,cma,E,S,G,Total,stock,stock_ret
date,,,,,,,,,,,
2014-01-02,0.005480,-0.018911,-0.016078,-0.008829,-0.000661,-0.000002,-0.000035,0.000104,-0.000059,1230.770020,0.005009
2014-01-03,0.026072,-0.004521,-0.005980,0.007696,-0.006445,0.000181,0.000302,0.000010,0.000173,1224.619995,-0.005066
2014-01-06,-0.003476,-0.003543,0.011427,0.003944,0.003194,-0.000052,0.000009,0.000098,-0.000024,1230.839966,-0.025286
2014-01-07,0.000352,-0.001913,0.000962,-0.006109,0.003429,0.000083,-0.000004,-0.000014,-0.000005,1262.359985,0.003674
2014-01-08,-0.002131,-0.003318,0.002747,0.002833,0.000507,-0.000026,-0.000014,0.000042,-0.000006,1257.729980,-0.000421
...,...,...,...,...,...,...,...,...,...,...,...
2023-09-19,0.004336,-0.001224,-0.002160,-0.002684,0.000672,0.000027,0.000001,-0.000037,0.000016,1522.959961,0.009938
2023-09-20,0.005623,-0.006408,-0.004449,0.001884,-0.002169,0.000033,0.000072,0.000079,0.000056,1507.900024,-0.004209
2023-09-21,-0.010283,0.002956,0.006223,0.001816,0.002366,0.000015,-0.000033,-0.000058,-0.000011,1514.260010,-0.005486
2023-09-22,-0.009168,-0.007270,0.005868,0.000215,0.005475,0.000020,0.000009,-0.000026,0.000018,1522.589966,0.010053
2023-09-25,0.001925,-0.000495,0.002039,0.002355,0.001367,-0.000033,0.000002,0.000014,-0.000011,1507.359985,0.008889