In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('esg.csv')

In [8]:
df[df.Instrument=='PTT.BK']

,Unnamed: 0,Instrument,ESG Score,Date,Environmental Pillar Score,Governance Pillar Score,Social Pillar Score,Carbon Credit,Carbon Offsets/Credits,Internal Carbon Price per Tonne Score Score,Women Managers,Women Employees,Gender Pay Gap Percentage,Water Recycled,Water Recycled Score,Energy Use Total,Policy Energy Efficiency,Waste Total,Waste Recycled Total
4255,4255,PTT.BK,72.334995,2015-12-31,92.549351,40.005447,73.838822,NaN,NaN,NaN,37.991,33.841,NaN,230000.0,23.958333,284641462.0,True,15517.40,5822.64
4256,4256,PTT.BK,70.153726,2016-12-31,93.302235,34.028644,71.372755,NaN,NaN,NaN,28.960,33.882,NaN,210000.0,23.584906,265716839.0,True,16847.63,6868.50
4257,4257,PTT.BK,75.698198,2017-12-31,92.895681,54.028455,73.705731,NaN,30270000.0,92.307692,24.740,34.426,NaN,130000.0,23.387097,330098149.0,True,20202.39,6048.38
4258,4258,PTT.BK,76.238607,2018-12-31,94.106746,34.444444,84.979293,NaN,2180000.0,94.444444,34.780,38.008,NaN,240000.0,27.777778,314737645.0,True,19904.07,5421.82
4259,4259,PTT.BK,76.542837,2019-12-31,93.099104,41.351916,82.659696,NaN,2140000.0,95.000000,42.350,38.513,NaN,210000.0,34.459459,309966000.0,True,7844.20,3071.99
4260,4260,PTT.BK,74.309207,2020-12-31,93.130043,40.091339,78.017978,NaN,2140000.0,93.750000,41.350,38.510,NaN,140000.0,28.481013,336270000.0,True,5804.42,1979.89
4261,4261,PTT.BK,75.713280,2021-12-31,92.764553,48.229547,77.101242,NaN,2140000.0,94.230769,40.060,38.500,NaN,130000.0,21.910112,324128000.0,True,4866.10,1966.42
4262,4262,PTT.BK,78.948779,2022-12-31,91.286949,40.790404,90.198718,NaN,2140000.0,89.393939,40.570,38.630,NaN,140000.0,26.404494,482460000.0,True,14471.50,3628.13

In [7]:
df

,Unnamed: 0,Instrument,ESG Score,Date,Environmental Pillar Score,Governance Pillar Score,Social Pillar Score,Carbon Credit,Carbon Offsets/Credits,Internal Carbon Price per Tonne Score Score,Women Managers,Women Employees,Gender Pay Gap Percentage,Water Recycled,Water Recycled Score,Energy Use Total,Policy Energy Efficiency,Waste Total,Waste Recycled Total
0,0,24CSm.BK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,1,24CSmf.BK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2,24CSmol.BK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,3,24CSmva.BK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4,2S.BK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
6563,6563,ZENva.BK,51.265119,2022-12-31,48.249431,48.005892,55.247349,NaN,NaN,NaN,44.554,60.454,96.0,NaN,NaN,40098.394,True,NaN,178.84
6564,6564,ZIGAm.BK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6565,6565,ZIGAmf.BK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6566,6566,ZIGAmol.BK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
6567,6567,ZIGAmva.BK,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN